# Ignore specific game directories
/gxmes/as/
/gxmes/1/
/gxmes/10mintilldawn/
/gxmes/99balls/
/gxmes/100ng/
/gxmes/2048adhd/
/gxmes/adrenaline/
/gxmes/ah/
/gxmes/aoc/
/gxmes/aquaslide/
/gxmes/archerygame/
/gxmes/atc/
/gxmes/breakout/
/gxmes/candycrush/
/gxmes/connect4/
/gxmes/cr/
/gxmes/darkroom/
/gxmes/drs/
/gxmes/ec/
/gxmes/fb/
/gxmes/fireice/
/gxmes/fs/
/gxmes/hangman/
/gxmes/img/
/gxmes/insectcatch/
/gxmes/minesweeper/
/gxmes/ml/
/gxmes/numberguess/
/gxmes/pingpong/
/gxmes/qg/
/gxmes/roshambo/
/gxmes/sc/
/gxmes/SharkGame/
/gxmes/snake/
/gxmes/sng/
/gxmes/speedtype/
/gxmes/tetris/
/gxmes/tg/
/gxmes/tiltmaze/
/gxmes/towerofblocks/
/gxmes/ttt/
/gxmes/typegame/
/gxmes/wam/
/gxmes/astray/
/gxmes/at2/
/gxmes/br/
/gxmes/bmd/
/gxmes/bb/
/gxmes/bc/
/gxmes/basketrandom/
/gxmes/bs/
/gxmes/basketbros/
/gxmes/bfg/
/gxmes/brb/
/gxmes/bl/
/gxmes/basketbros/
/gxmes/bk/
/gxmes/bhs/
/gxmes/bp/
/gxmes/btr2/
/gxmes/boxingrandom/
/gxmes/btd4/
/gxmes/bh2p/
/gxmes/bonkio/
/gxmes/btd5/
/gxmes/baf/
/gxmes/cb4/
/gxmes/cd/
/gxmes/ci/
/gxmes/cm/
/gxmes/cs/
/gxmes/ca/
/gxmes/chess/
/gxmes/dg/
/gxmes/circlo/
/gxmes/cc/
/gxmes/clusterrush/
/gxmes/cmmc/
/gxmes/utt/
/gxmes/cnct3/
/gxmes/cookieclicker/
/gxmes/cb/
/gxmes/craftmine/
/gxmes/ckc/
/gxmes/crossyroad/
/gxmes/csgoclicker/
/gxmes/ctr/
/gxmes/ctrh/
/gxmes/ctrtt/
/gxmes/baldibasic/
/gxmes/dante/
/gxmes/cf/
/gxmes/dond/
/gxmes/dr/
/gxmes/ds/
/gxmes/dft/
/gxmes/bic/
/gxmes/bic2/
/gxmes/bic3/
/gxmes/da2/
/gxmes/dm/
/gxmes/doom/
/gxmes/dth/
/gxmes/dvb/
/gxmes/dw/
/gxmes/dh/
/gxmes/drivemad/
/gxmes/nd/
/gxmes/ef/
/gxmes/ejp/
/gxmes/etd/
/gxmes/es/
/gxmes/enf/
/gxmes/eelslap/
/gxmes/eggycar/
/gxmes/em/
/gxmes/ew3/
/gxmes/eg/
/gxmes/e/
/gxmes/fw/
/gxmes/fd/
/gxmes/fbf/
/gxmes/fairsquares/
/gxmes/eth/
/gxmes/fnaw/
/gxmes/fn/
/gxmes/fsuc/
/gxmes/gfg/
/gxmes/gs/
/gxmes/pl/
/gxmes/gta/
/gxmes/gc/
/gxmes/gb/
/gxmes/gn/
/gxmes/googlesnake/
/gxmes/gravitysoccer/
/gxmes/grindcraft/
/gxmes/ht/
/gxmes/hh/
/gxmes/hardwaretycoon/
/gxmes/hba/
/gxmes/h/
/gxmes/he/
/gxmes/hextris/
/gxmes/hrh/
/gxmes/ib/
/gxmes/job/
/gxmes/kgg/
/gxmes/kc/
/gxmes/km/
/gxmes/ltfi/
/gxmes/ltf2/
/gxmes/ltf3/
/gxmes/smb/
/gxmes/mr/
/gxmes/ms/
/gxmes/mrr/
/gxmes/missiles/
/gxmes/mp/
/gxmes/mm/
/gxmes/mt/
/gxmes/motox3m/
/gxmes/mrs/
/gxmes/ng/
/gxmes/n/
/gxmes/nec/
/gxmes/nsp/
/gxmes/nss/
/gxmes/nsr/
/gxmes/op/
/gxmes/onb/
/gxmes/ow/
/gxmes/ovo/
/gxmes/pio2/
/gxmes/pc/
/gxmes/pa/
/gxmes/pvz/
/gxmes/pb/
/gxmes/p/
/gxmes/rs/
/gxmes/rs2/
/gxmes/rb/
/gxmes/rb/
/gxmes/rf/
/gxmes/rv/
/gxmes/rooftopsnipers/
/gxmes/sb/
/gxmes/sd/
/gxmes/srtd/
/gxmes/s/
/gxmes/sm64/
/gxmes/smokingbarrels/
/gxmes/soundboard/
/gxmes/ooc/
/gxmes/spacecompany/
/gxmes/spacegarden/
/gxmes/spelunky/
/gxmes/sdb/
/gxmes/stickboost/
/gxmes/sh/
/gxmes/sf/
/gxmes/smc/
/gxmes/swerve/
/gxmes/tfe/
/gxmes/th/
/gxmes/tb/
/gxmes/theheist/
/gxmes/ting/
/gxmes/titol/
/gxmes/tr/
/gxmes/tf/
/gxmes/ws/
/gxmes/w/
/gxmes/f/
/gxmes/cg/
/gxmes/yf/
/gxmes/tower/

# Ignore specific files
/gxmes/linerider.html
/links/script.js
/gxmes/2048game.html
/gxmes/achieveunlocked.html
/gxmes/aow.html
/gxmes/artofwar.html
/gxmes/avalanche.html
/gxmes/bloons.html
/gxmes/bloxorz.html
/gxmes/bookmarklets.html
/gxmes/brick-breaker.html
/gxmes/btd.html
/gxmes/btd2.html
/gxmes/Castle Hero.html
/gxmes/castlehero.html
/gxmes/checkers.html
/gxmes/dl1.html
/gxmes/dl2.html
/gxmes/dl3.html
/gxmes/dl4.html
/gxmes/doodlejump.html
/gxmes/ECu50.html
/gxmes/hardestgame.html
/gxmes/hs-btb.html
/gxmes/hs-etp.html
/gxmes/hs-ftc.html
/gxmes/hs-ita.html
/gxmes/hs-std.html
/gxmes/impossiblequiz.html
/gxmes/interactivebuddy.html
/gxmes/learntofly.html
/gxmes/logo.png
/gxmes/mario63.html
/gxmes/marioflash.html
/gxmes/mariokart.html
/gxmes/maze.html
/gxmes/meatboy.html
/gxmes/minecrafttd.html
/gxmes/minesweeper.html
/gxmes/motherload.html
/gxmes/n.html
/gxmes/other tetris.html
/gxmes/pacman.html
/gxmes/pandemic1.html
/gxmes/pandemic2.html
/gxmes/pcbreak.html
/gxmes/portal2d.html
/gxmes/portalflash.html
/gxmes/qwop.html
/gxmes/rs-t.html
/gxmes/rs-t2.html
/gxmes/rs.html
/gxmes/rs2.html
/gxmes/rs3.html
/gxmes/rs4.html
/gxmes/rs5.html
/gxmes/rubixcube.html
/gxmes/sch.html
/gxmes/sketchbook04.html
/gxmes/snake.html
/gxmes/snakesladders.html
/gxmes/sonic.html
/gxmes/stack.html
/gxmes/sth.html
/gxmes/sth2.html
/gxmes/stickrpg.html
/gxmes/supersmashflash.html
/gxmes/tetris.html
/gxmes/tron.html
/gxmes/unfairmario.html
/gxmes/fuchsiaxclient.html
/socialmedia/reply.png
/gxmes/checknum.js
/gxmes/info.html
/gxmes/hcr.html
/gxmes/id.html
/gxmes/style.css
/gxmes/search.js
/wiki/styles.css
/socialmedia/*.html
/socialmedia/styles.css
/socialmedia/*.js
/socialmedia/pfps/knb2012.png
/socialmedia/pfps/default.png
/socialmedia/pfps/dc2011.png
/gxmes/player.html
/gxmes/player.js

# Ignore other specific files in the root directory
/Katamari.js
/LICENSE
/iosappifier/iosapplogo.png
/click.mp3
/CNAME
/desktop.ini
/iosapp.js
/README.md
/openblank.js
/portraittext.js
/NullWeb_App.apk
/iosappfix.html
/robots.txt
/styles.js
/styles.css
/styles.html
/gxmes.txt
/firebase-messaging-sw.js
/qrcode.png
/404.html
/offline-sw.js
/offline.html
/facts.js
/ai.js

# Ignore other specific files across the repository
logo.png

# Ignore other specific directories
/static/
/js/
/iosappifier/
/wiki/num1/
/wiki/num2/

# Unignore specific files
!/gxmes/**/logo.png