# Ignore specific game directories
/gxmes/as
/gxmes/1
/gxmes/10mintilldawn
/gxmes/99balls
/gxmes/100ng
/gxmes/2048adhd
/gxmes/adrenaline
/gxmes/ah
/gxmes/aoc
/gxmes/aquaslide
/gxmes/archerygame
/gxmes/atc
/gxmes/breakout
/gxmes/candycrush
/gxmes/connect4
/gxmes/cr
/gxmes/darkroom
/gxmes/drs
/gxmes/ec
/gxmes/fb
/gxmes/fireice
/gxmes/fs
/gxmes/hangman
/gxmes/img
/gxmes/insectcatch
/gxmes/minesweeper
/gxmes/ml
/gxmes/numberguess
/gxmes/pingpong
/gxmes/qg
/gxmes/roshambo
/gxmes/sc
/gxmes/SharkGame
/gxmes/snake
/gxmes/sng
/gxmes/speedtype
/gxmes/tetris
/gxmes/tg
/gxmes/tiltmaze
/gxmes/towerofblocks
/gxmes/ttt
/gxmes/typegame
/gxmes/wam
/gxmes/astray
/gxmes/at2
/gxmes/br
/gxmes/br2d
/gxmes/bmd
/gxmes/bb
/gxmes/bd
/gxmes/bc
/gxmes/basketrandom
/gxmes/bs
/gxmes/basketbros
/gxmes/bfg
/gxmes/brb
/gxmes/bl
/gxmes/basketbros
/gxmes/bk
/gxmes/bhs
/gxmes/bp
/gxmes/btr2
/gxmes/boxingrandom
/gxmes/btd4
/gxmes/bh2p
/gxmes/bonkio
/gxmes/btd5
/gxmes/baf
/gxmes/cb4
/gxmes/cd
/gxmes/ci
/gxmes/cm
/gxmes/cs
/gxmes/ca
/gxmes/checkers
/gxmes/chess
/gxmes/dg
/gxmes/circlo
/gxmes/cc
/gxmes/clusterrush
/gxmes/cmmc
/gxmes/utt
/gxmes/cnct3
/gxmes/cookieclicker
/gxmes/cb
/gxmes/craftmine
/gxmes/ckc
/gxmes/crossyroad
/gxmes/csgoclicker
/gxmes/ctr
/gxmes/ctrh
/gxmes/ctrtt
/gxmes/baldibasic
/gxmes/dante
/gxmes/cf
/gxmes/dond
/gxmes/dr
/gxmes/ds
/gxmes/dft
/gxmes/bic
/gxmes/bic2
/gxmes/bic3

# Ignore specific .html files

# Ignore other specific files
Katamari.js
LICENSE
logo.png
iosapplogo.png
click.mp3
CNAME
desktop.ini
adType1.js

# Ignore other specific directories
/static
/js