@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
	background-color: #000000;
	font-family: Lato;
	color: #FFFFFF;
}

button {
	background-color: #000000;
	font-family: Lato;
	color: #FFFFFF;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-color: #FFFFFF;
	font-size: 20px;
	border-radius: 20px;
}

button[id=navbtn] {
	height: 91px;
	vertical-align: middle;
}

h1 {
	font-family: Lato;
	color: #FFFFFF;
}

button:hover {
	cursor: pointer;
}

.botbtn button {
	background-color: #000000;
	border-radius: 15px;
	border-color: #FFFFFF;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #FFFFFF
}

nav {
    background-color: #000000;
    border-radius: 25px;
    border-width: 4px;
    border-color: #FFFFFF;
    height: 50px;
    justify-content: middle;
    color: #FFFFFF;
    outline-width: 4px;
    outline-color: #FFFFFF;
}

a[id=logo] {
    justify-content: middle;
    color: #FFFFFF;
}

a[id=homebutton] {
    margin-left: 10px;
}

a[id=infobutton] {
    margin-left: 10px;
}

img[id=logo] {
    vertical-align: middle;
    margin-top: 5px;
}

h1[id=pagetitle] {
    left: 70px;
}

.nav__links {
    position: relative;
    top: -8px;
}