@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    background-color: var(--bg-color);
    font-family: var(--font-family);
    color: var(--text-color);
}

h1 {
    font-family: var(--font-family);
    color: var(--text-color);
}

a[id=link] {
    color: var(--link-color);
    text-decoration: underline;
    text-decoration-color: var(--link-color);
}

nav {
    background-color: var(--bg-color);
    border-radius: 25px;
    border-width: 4px;
    border-color: var(--border-color);
    height: 50px;
    justify-content: middle;
    color: var(--text-color);
    outline-width: 4px;
    outline-color: var(--border-color);
}

a[id=logo] {
    justify-content: middle;
    color: var(--text-color);
}

a[id=homebutton] {
    margin-left: 10px;
}

a[id=infobutton] {
    margin-left: 10px;
}

img[id=logo] {
    vertical-align: middle;
    margin-top: 5px;
}

h1[id=pagetitle] {
    left: 70px;
}

.nav__links {
    position: relative;
    top: -8px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10%;
    background: var(--bg-color);
    border-radius: 100px;
    border: 10px solid var(--border-color);
}

.nav__links {
    list-style: none;
}

.nav__links button {
    display: inline-block;
    padding: 10px 10px;
    border: 0px solid var(--border-color);
    background-color: var(--bg-color);
    font-size: 20px;
    color: var(--text-color);
}