@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
	background-color: #000000;
	font-family: Lato;
	color: #FFFFFF;
}

h1 {
	font-family: Lato;
	color: #FFFFFF;
}

a[id=link] {
	color: #0000FF;
	text-decoration: underline;
	text-decoration-color: #0000FF;
}

a[id=link]:hover {
	cursor: pointer;
}

nav {
    background-color: #000000;
    border-radius: 25px;
    border-width: 4px;
    border-color: #FFFFFF;
    height: 50px;
    justify-content: middle;
    color: #FFFFFF;
    outline-width: 4px;
    outline-color: #FFFFFF;
}

a[id=logo] {
    justify-content: middle;
    color: #FFFFFF;
}

a[id=homebutton] {
    margin-left: 10px;
}

a[id=infobutton] {
    margin-left: 10px;
}

img[id=logo] {
    vertical-align: middle;
    margin-top: 5px;
}

h1[id=pagetitle] {
    left: 70px;
}

.nav__links {
    position: relative;
    top: -8px;
}