@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

nav {
    background-color: #b00000;
    border-radius: 25px;
    border-width: 15px;
    border-color: #470000;
    height: 50px;
    justify-content: middle;
    color: #FFFFFF;
}

a[id=logo] {
    justify-content: middle;
    color: #FFFFFF;
}

a[id=homebutton] {
    margin-left: 10px;
}

a[id=infobutton] {
    margin-left: 10px;
}

img[id=logo] {
    vertical-align: middle;
    margin-top: 5px;
}

div[id=form] {
    border-width: 2px;
    border-color: #000000;
    background-color: #363636;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    width: 405px;
    color: #FFFFFF;
}

a {
    font-family: Lato;
    color: #FFFFFF;
}

html {
    font-family: Lato;
    color: #FFFFFF;
}

body {
    font-family: Lato;
    color: #FFFFFF;
}

h1 {
    font-family: Lato;
    color: #FFFFFF;
}

h2 {
    font-family: Lato;
    color: #FFFFFF;
}

input {
    border-radius: 5px;
    border-color: #000000;
    font-family: Lato;
    width: 400px;
    color: #FFFFFF;
    background-color: #363636;
}

input[id=title] {
    width: 400px;
    color: #FFFFFF;
    background-color: #363636;
}

textarea {
    border-radius: 5px;
    border-width: 2px;
    border-color: #000000;
    font-family: Lato;
    color: #FFFFFF;
}

textarea[id=postContent] {
    width: 400px;
    height: 45px;
    resize: both;
    color: #FFFFFF;
    background-color: #363636;
}

button {
    font-family: Lato;
    border-radius: 5px;
    border-width: 2px;
    border-color: #000000;
    background-color: #FF0000;
    color: #FFFFFF;
}

article {
    border-radius: 5px;
    border-width: 2px;
    border-color: #000000;
    background-color: #363636;
    color: #FFFFFF;
}

body {
    background-color: #000000;
}
