@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    font-family: Lato;
    color: #FFFFFF
}

body {
	background: #000000;
}

h1 {
	position:relative;
	left:80px;
}

button {
    background-color: #000000;
    color: #FFFFFF;
    border: 2.5px solid #FFFFFF;
    border-radius: 10px;
	padding: 5px 13px;
    margin-bottom: 6px;
}

button:hover {
    background-color: #363636;
    border: 2.5px solid #FFFFFF;
    color: #FFFFFF;
    cursor: pointer;
}

a:link {
	color:#0000FF;
}

a:visited {
	color:#6000ff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10%;
    background: #000000;
    border-radius:100px;
    border: #FFFFFF;
    border: 10px solid #FFFFFF;
}

.logo {
    cursor: pointer;
}

.nav__links {
    list-style: none;
}

.nav__links button {
    display: inline-block;
    padding: 10px 10px;
    border: 0px solid #FFFFFF;
    background-color: #000000;
    font-size: 20px;
    color: #FFFFFF;
}

.nav__links button:hover {
    background-color: #000000;
}


p1 {
  font-size: 1.75em;
	color: #FFFFFF;
}
